ENDPOINT_DELAY=0
LOG_LEVEL=info
NPG_API_KEY=npg-api-key
NPG_NOTIFICATION_URL=http://payment-wallet.pagopa.it
NPG_CANCEL_URL=http://payment-wallet.pagopa.it/cancel
NPG_RESULT_URL=http://payment-wallet.pagopa.it/esito